{# Template for a generic page #}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>SameAs Lite {{titleHTML|e('html')}}</title>

      <!-- stylesheets -->
      <link rel="stylesheet" href="{{path}}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
      <link href="{{path}}/assets/css/style.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="{{path}}/components/html5shiv/dist/html5shiv.js"></script>
        <script src="{{path}}/components/respond/dest/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>

  <body>

    {% include 'snippet/navbar.twig' %}

    <header>
      <div class="container">
        <h1>{{titleHeader|e('html')}}</h1>
        {{summaryHeader}}
      </div>
    </header>

    <main id="content">
      <div class="container">

        {% if (alternate_formats or pagination) %}
          <div class="pageActions">

            {% if alternate_formats %}
              {% include 'snippet/altformats.twig' %}
            {% endif %}

            {# if numResults and pagination and numResults > pagination #}
            {% if pagination %}
              {% include 'snippet/pagination.twig' %}
            {% endif %}

          </div>
        {% endif %}

        {% block body %}
          {{body}}
        {% endblock %}

      </div>
    </main><!--/content -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <p>{{footerText}}</p>
          </div>
          <div class="col-lg-4">
            <p class="text-right">Powered by <a href="http://seme4.com/">SameAs Lite</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <!-- http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js -->
    <script src="{{path}}/components/jquery/jquery.min.js" type="text/javascript"></script>
    <!-- http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js -->
    <script src="{{path}}/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    {{javascript}}

  </body>
</html>
